@import "tailwindcss";

/* Global font */
body {
  font-family: "Poppins", sans-serif;
}

/* Headings font */
h1, h2 {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #1d1668, #1d8254, #23719c);
  }
}
