@import "tailwindcss";

/* Enable smooth theme transition */
* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* Light theme (default) */
:root {
  --bg: #ffffff;
  --text: #0f172a;
}

/* Dark theme */
.dark {
  --bg: #020617;
  --text: #e5e7eb;
}

/* Global body */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

/* Headings font */
h1,
h2 {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #1d1668, #1d8254, #23719c);
  }
}
